
body{
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: #353535;
}
h1, h2{
    font-family: oswald,sans-serif;
    text-transform: oppercase;
    letter-spacing:4px ;
    color: #252525;
}
#logo{
    float:left;
    font-size: 280%;
    margin-left: 50px;
}
#logo, #menu{
    line-height: 75px;
}



#menu{
    font-size: 110%;
    letter-spacing: 4px;
}
#menu li{
    float: right;
    list-style-type:none;
    margin-right: 10px;

}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active{
    border-bottom: 1px solid #3a3a3a;
}
#cover-text,#cover-text h2{
    color: white;

}
#image-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#image{
    height: 600px;
    width: 100%;
   background: url('../images/image.jpg') no-repeat center center;
   animation: image-zoom;
   animation-duration: 5s;
   animation-fill-mode: forwards;

}
@keyframes image-zoom {
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.1);

    }
}

#cover-text{
    font-size: 130%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width:300px ;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: red;
    bottom: 30px;
    right: 150px;

    position: absolute;
}
#club-ethos{
    height: 600px;

}
#right-about{
    padding-top: 30px;
    width: 33%;
    float: left;
  

}
#left-about{
    padding-top: 30px;
    width: 33%;
    float: right;
  
}
#center-about{
    width: 33%;
    margin: 0 auto;
    background-color: green;

}
hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;


}
.left-about-heading{
    width: 60px;
    float: right;
     line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}
.left-about-heading{
    width: 60px;
    float: right;
     line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}
.right-about-headind h2{
    text-align: right;

}
.left-about-headind h2{
    text-align: right;

}
























