
body{
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: #353535;
}
h1, h2{
    font-family: oswald,sans-serif;
    text-transform: oppercase;
    letter-spacing:4px ;
    color: black;
}
#logo{
    float:left;
    font-size: 280%;
    margin-left: 50px;
}
#logo, #menu{
    line-height: 75px;
}



#menu{
    font-size: 110%;
    letter-spacing: 4px;
}
#menu li{
    float: right;
    list-style-type:none;
    margin-right: 10px;

}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active{
    border-bottom: 1px solid #3a3a3a;
}
#cover-text,#cover-text h2{
    color: white;

}
#image-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#image{
    height: 600px;
    width: 100%;
   background: url('../images/image.jpg') no-repeat center center;
   animation: image-zoom;
   animation-duration: 5s;
   animation-fill-mode: forwards;

}
@keyframes image-zoom {
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.1);

    }
}

#cover-text{
    font-size: 130%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width:300px ;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: red;
    bottom: 30px;
    right: 150px;

    position: absolute;
}
#club-ethos{
    height: 600px;

}
#right-about{
    padding-top: 30px;
    width: 33%;
    float: left;
  

}
#left-about{
    padding-top: 30px;
    width: 33%;
    float: right;
  
}
#center-about{
    width: 33%;
    margin: 0 auto;
  

}
hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;


}
.left-about-heading{
    width: 60px;
    float: right;
     line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}
.left-about-heading{
    width: 60px;
    float: right;
     line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}
.right-about-headind h2{
    text-align: right;

}
.left-about-headind h2{
    text-align: right;

}
#welcome{
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}
#circle-continer{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style:solid ;
    border-color:#ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}
#circle-cover-bg{
    background: url('../images/club-ethos-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#times {
    background-image: url('../images/background-time.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
.time-section{
    color: #fafafa;
    background-color: #252525;
    width: 18%;
    height: 300px;
    float: left;
    padding: 10px 0 0 10px;
    text-align: center;
    border: 2px solid white;
   opacity: 60%;
 margin-right: 11px; 


}
#times h2{
    color: #fafafa;
}



















