
body{
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: #353535;
    margin:0;
    padding:0;
}
header{
    height:100px;
    background: #f4f4f4;
}
h1, h2{
    font-family: oswald,sans-serif;
    text-transform: oppercase;
    letter-spacing:4px ;
    color: black;
}

#logo{
    float:left;
    margin-left: 50px;
    margin-top:35px;
    color: #ff6d00;
}

a{
    text-decoration: none;
    color:inherit;
}
ul#menu{
    margin:0;
}
#menu li{
    float: right;
    list-style-type:none;
    margin-right: 10px;
    margin-top:40px;
}
#menu a{
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
    
    letter-spacing: 4px;
}
#menu a:hover{
    border-bottom: 1px solid #ff6d00db;
    padding-bottom: 6px;
    color: #ff6d00db;
}
.active{
    border-bottom: 1px solid #ff6d00db;
    padding-bottom: 6px;
    color: #ff6d00db !important;
}
#cover-text,#cover-text h2{
    color: white;
}
#image-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#image{
    height: 600px;
    width: 100%;
   background: url('../images/lib.jpg') no-repeat center center;
   background-size: cover;
   animation: image-zoom;
   animation-duration: 5s;
   animation-fill-mode: forwards;

}
@keyframes image-zoom {
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.1);

    }
}

#cover-text{
    font-size: 22px;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 210px;
    /* padding-top: 40px; */
    /* padding-left: 10px; */
    background-color: #ff6d00db;
    bottom: 30px;
    right: 150px;
    position: absolute;
    border-radius: 10px;
    padding-left: 16px;
}
#club-ethos{
    margin-top: 40px;
    height: 600px;

}
#right-about{
    padding-top: 30px;
    width: 30%;
    float: left;
    margin-left: 30px;
}
#left-about{
    padding-top: 30px;
    width: 29%;
    float: right;
    margin-right:30px; 
}
#center-about{
    width: 33%;
    margin: 0 auto;
    
    margin-top: 100px;
  

}
hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;


}
.left-about-heading{
    width: 60px;
    float: right;
     line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}
.left-about-heading{
    width: 60px;
    float: right;
     line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}
.right-about-headind h2{
    text-align: right;

}
.left-about-headind h2{
    text-align: right;

}
#welcome{
    text-align: center;
    margin: 20px  0;
    font-size: 200%;
}
#circle-continer{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style:solid ;
    border-color:#ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    background: url('../images/girl.jpg') no-repeat center center;
    border-radius: 50%;
}

#times {
    background-image: url('../images/background-time.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
.time-section{
    color: #fafafa;
    background-color: #252525;
    height: 300px;
    float: left;
    text-align: center;
    border: 2px solid white;
    opacity: 60%;
    width: 19%;
    margin: 4px;
}
#times h2{
    color: #fafafa;

}
footer{
    height: 150px;
}
.social-network{
    text-align: center;
}
.social-network>li{
    display: inline;
}
.social-network i{
    font-size: 40px;
    margin: 0%;
    padding: 1%;
    color: #353535;
}

#social-media-title{

    width:fit-content;
    margin:0 auto;
    padding:40px 0px 5px 0px;

}

#photos{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}
#photos>image{
    width: 100%;
}

#sinup{
    margin-top: auto;
} 

#signup-div{
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    box-shadow: 1px 1px 5px #888888;
    padding: 34px;

}

#signup-div form>input{
    width: 100%;
    margin: 13px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

#gallery-photos{
    margin-left:5%;
}
#gallery-photos img{
    width: 20%;
    margin: 15px;
    border-radius: 15px;
    height: 200px;
}
#gallery-title{
    font-size: 30px;
    text-align: center;
    color: #ff6d00db;
}

#button{
    background: #ff6d00db;
    border: 0px !important;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width : 1500px) {
    body {
        background: orange;
    }
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
    body {
        background: red;
    }
}

@media screen and (min-width : 300px) and (max-width : 767px) {
    body {
        background: green;
    }

    #menu a {
        font-size: 10px; 
        margin-right:10px;
    }
    #logo{
        font-size: 20px;
    }
    #right-about{
        padding: 30px;
        width: 100%;
        float: unset;
        margin-left: 0px;
    }
    #left-about {
        padding: 30px;
        width: 100%;
        float: unset;
        margin-right: 0px;
    }
    #center-about {
        width: 100%;
        margin-bottom: 50px;
        margin-top:0px;
        display: block;
    }
    #club-ethos {
        margin-top: 40px;
        height: unset;
    }
    .time-section{
        width: 48%;
    }
}

















